<li class="span<%= 12/row.cols.count %>" style="position: relative; min-height: 30px; list-style:none;">

	<% unless params[:action] == "show" %>
		Column
		<%= link_to('×', col, :method => 'delete', :confirm => "Are you sure?", :class => "close delete", :style => "position: absolute; right: 15px; top: 0px; color: red;" ) %>
	<% end %>

</li>