<li id="col_<%= col.id %>" class="span<%= 12/row.cols.count %> col" style="position: relative; min-height: 60px; list-style:none;">
	<ul class="blocks">
		<%= render col.blocks, :col => col %>
	</ul>
	<% if params[:action] != "show" %>
		<%= render 'cols/edit_col', :col => col %>
	<% end %>
</li>