<div class="row-fluid" style="margin-top: 30px;">
	<div class="span12">
		<h1 style="text-align: center;">Create your website incredibly fast.</h1>
	</div>
</div>

<div class="row-fluid page-content" style="text-align: center;">
	<div style="padding: 30px;">

	<div class="row-fluid">
		<div class="span12 trial">
			Free 30-day trial on all plans.  Upgrade or cancel anytime.
		</div>
	</div>

	<div class="row-fluid" style="margin: 30px 0px 0px 0px;">
		<div class="span4">
			<div class="pricing-title">Standard</div>
			<div class="pricing-price">$25<small>/mo</small></div>
			<div class="pricing-included well">What's Included</div>
		</div>
		<div class="span4">
			<div class="pricing-title">Power <div class="btn btn-success" style="position: absolute; top: 6px; right: 10px;">Most Popular</div></div>
			<div class="pricing-price">$60<small>/mo</small></div>
			<div class="pricing-included well">What's Included</div>
		</div>
		<div class="span4">
			<div class="pricing-title">Professional</div>
			<div class="pricing-price">$155<small>/mo</small></div>
			<div class="pricing-included well">What's Included</div>
		</div>
	</div>

	<div class="well" style="margin: 30px 0px 0px 0px;">
	<div class="row-fluid">
		<div class="span6" style="text-align: left;">
			<h3>FAQ HERE</h3>
			<p>This is a frequently asked question</p>
			<h3>FAQ HERE</h3>
			<p>This is a frequently asked question</p>
		</div>
		<div class="span6" style="text-align: left;">
			<h3>FAQ HERE</h3>
			<p>This is a frequently asked question</p>
			<h3>FAQ HERE</h3>
			<p>This is a frequently asked question</p>
		</div>
	</div>
	</div>

	</div>
</div>

