<div class="row-fluid" style="margin-top: 30px;">
	<div class="span12">
		<h1 style="text-align: center;">Create your website incredibly fast.</h1>
	</div>
</div>

<div class="row-fluid page-content" style="text-align: center;">
	<div style="padding: 30px;">

	<div class="row-fluid">
		<div class="span12">
			Free 30-day trial on all plans.  Cancel anytime.
		</div>
	</div>

	<div class="row-fluid" style="margin: 30px 0px 0px 0px;">
		<div class="span12">
			Plans here
		</div>
	</div>

	<div class="well" style="margin: 30px 0px 0px 0px;">
	<div class="row-fluid">
		<div class="span6" style="text-align: left;">
			FAQ HERE
		</div>
		<div class="span6" style="text-align: left;">
			FAQ HERE
		</div>
	</div>
	</div>

	</div>
</div>

