<footer>
	<div class="container">
		<div class="footer-links">
			<strong>&copy; Condo Motion 2012</strong>
      <!-- <a href="#">About</a>
           <a href="#">Blog</a> -->
      <a href="content_policy.pdf" target="_blank">Content Policy</a>
      <a href="privacy_policy.pdf" target="_blank">Privacy Policy</a>
      <a href="terms_of_service.pdf" target="_blank">Terms of Service</a>
    </div>
	</div>
</footer>