<% unless params[:action] == "show" %>
	<div class="row-tools">
		<span class="btn btn-mini sort-row drag"><i class="icon-move"></i></span>
		<br>
		<%= form_for(Col.new, :remote => true, :style => "margin: 0px;") do |f| %>
			<%= f.hidden_field :row_id, :value => row.id %>
			<%= f.submit raw('&plus;'), :class => "btn btn-mini add-col" %>
		<% end %>
		<%= link_to(raw('&minus;'), row, :method => 'delete', :remote => true, :class => "btn btn-mini btn-danger delete-row") %>
	</div>
<%end%>